$line-width: 2.5px;
$line-length: 6px;
$animation-duration: 3000ms;
$animation-easing: ease-in-out;
$body-bg: #111;
$line-color: red;

@keyframes mandala-rotate {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes line-rotate {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}

@keyframes reverse-line-rotate {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(0deg);}
  100% {transform: rotate(-180deg);}
}

@keyframes circle-rotate {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(0deg);}
  100% {transform: rotate(-22.5deg);}
}

@keyframes reverse-circle-rotate {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(0deg);}
  100% {transform: rotate(22.5deg);}
}

@keyframes hue-rotate {
  0% {filter: hue-rotate(0deg);}
  100% {filter: hue-rotate(360deg);}
}

// body {
//   background: $body-bg;
//   overflow: hidden;
//   animation: 30s linear infinite hue-rotate;
// }

.mandala {
    position: relative;
    width: 100px;
    height: 100px;
    background: black;
    animation: 120s linear infinite mandala-rotate, hue-rotate;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: $line-width/2 0;
}

.line__body {
  width: $line-width;
  height: $line-length;
  background: $line-color;
}

.circle--0 {
  .line {
    @for $line from 0 through 4 {
      &:nth-of-type(#{$line}) {
        transform: rotate($line*90deg);
      }
    }
  }
}

.circle--8 .line__body {
  background: linear-gradient( 0deg, rgba($line-color, 0), rgba($line-color, 1) 80% );
}

@each $circle, $lines in (1, 16), (2, 16), (3, 32), (4, 32), (5, 64), (6, 64), (7, 128), (8, 128) {
  .circle--#{$circle} {
    .line {
      @for $line from 0 through $lines {
        &:nth-of-type(#{$line}) {
          transform: rotate(360deg / $lines * $line) translateY($line-length * ($circle * 0.9));
        }
      }
    }
    @if $circle == 1 {
      animation: $animation-duration $animation-easing infinite reverse-circle-rotate;

      .line__body {
        // background: #fa0;
        animation: $animation-duration $animation-easing infinite line-rotate;
      }
      .line:nth-child(odd) .line__body {
        animation: $animation-duration $animation-easing infinite reverse-line-rotate;
      }
    } @else if $circle == 3 {
      animation: $animation-duration 0.5s $animation-easing infinite circle-rotate;

      .line__body {
        // background: #0fa;
        animation: $animation-duration 0.5s $animation-easing infinite line-rotate;
      }
      .line:nth-child(odd) .line__body {
        animation: $animation-duration 0.5s $animation-easing infinite reverse-line-rotate;
      }
    } @else if $circle == 5 {
      animation: $animation-duration 1s $animation-easing infinite reverse-circle-rotate;

      .line__body {
        // background: #0af;
        animation: $animation-duration 1s $animation-easing infinite line-rotate;
      }

      .line:nth-child(odd) .line__body {
        animation: $animation-duration 1s $animation-easing infinite reverse-line-rotate;
      }
    } @else if $circle == 7 {
      animation: $animation-duration 1.5s $animation-easing infinite circle-rotate;

      .line__body {
        // background: #0af;
        animation: $animation-duration 1.5s $animation-easing infinite line-rotate;
      }
      .line:nth-child(odd) .line__body {
        animation: $animation-duration 1.5s $animation-easing infinite reverse-line-rotate;
      }
    }
  }
}
